//CircularStd
@font-face 
  font-family: 'CircularStd-Regular'
  src: url('../assets/fonts/CircularStd-Regular.woff2') format('truetype')
  font-style: normal
  font-weight: 400

@font-face 
  font-family: 'CircularStd-Medium'
  src: url('../assets/fonts/CircularStd-Medium.woff2') format('truetype')
  font-style: normal
  font-weight: 500

@font-face 
  font-family: 'CircularStd-Bold'
  src: url('../assets/fonts/CircularStd-Bold.woff2') format('truetype')
  font-style: normal
  font-weight: 700

//SofiaPro
@font-face 
  font-family: 'SofiaProRegular'
  src: url('../assets/fonts/SofiaProRegular.woff2') format('truetype')
  font-style: normal
  font-weight: 400

@font-face 
  font-family: 'SofiaProLight'
  src: url('../assets/fonts/SofiaProLight.woff2') format('truetype')
  font-style: normal
  font-weight: 300
 
@font-face 
  font-family: 'SofiaProExtraLight'
  src: url('../assets/fonts/SofiaProExtraLight.woff2') format('truetype')
  font-style: normal
  font-weight: 200

@font-face 
  font-family: 'SofiaProUltraLight'
  src: url('../assets/fonts/SofiaProUltraLight.woff2') format('truetype')
  font-style: normal
  font-weight: 300

//Helvetica
@font-face 
  font-family: 'helvetica_bold'
  src: url('../assets/fonts/helvetica_bold.otf') format('truetype')
  font-style: normal
  font-weight: 700

//Montserrat
@font-face 
  font-family: 'Montserrat-Regular'
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype')
  font-style: normal
  font-weight: 400

@font-face 
  font-family: 'Montserrat-Medium'
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype')
  font-style: normal
  font-weight: 500