@import '_fonts.sass'
@import '_header.sass'


body
  font-family: 'CircularStd-Regular'
  font-size: 77px
  background-color: #235124
  background-image: url('../assets/img/boots.png')
  display: flex
  flex-direction: column



@import '_footer.sass'